.item {
    padding: 1rem;
    color:var(--clr-red);
    border-radius: 8px;
    margin-right: 1rem;
    background: var(--linear-gradient-2);
}

.info-container {
    display: flex;
    justify-content: space-between;
}

.actions {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.actions button {
    display: block;
    width: 120px;
    padding: 0.5rem;
    border-radius: 4px;
    border:none;
    color:var(--clr-white);
    font-size: 1rem;
    background: var(--clr-primary-4);
}

.actions button:hover,
.actions button:active {
    background: var(--clr-primary-3);
}