.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem;
    width: 90%;
    margin: 1rem auto;
    border-bottom: 2px var(--clr-primary-4) solid;
}

.heading {
    display: flex;
    align-items: center;
}

.heading h2 {
    margin-top: 1rem;
}

.icon {
    font-size: 3rem;
}

@media screen and (min-width: 800px) {
    .header {
        flex-direction: row;
    }
}