.request-header {
	text-align: center;
	width: 100%;
	height: 3rem;
	color: var(--clr-white);
}

.request-header h3 {
	padding: 1rem;
}

.error {
	background: var(--clr-red);
}

.loading {
	background: var(--clr-purple-5);
}

.successful {
	background: var(--clr-green);
}
