.form {
	display: flex;
	flex-direction: column;
    justify-content: center;
	gap: 2rem;
}

.modal {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	border-radius: 15px;
	color: var(--clr-black);
	background: var(--linear-gradient-2);
	padding: 1.25rem 2rem;
}

.controls {
	display: grid;
	grid-template-columns: 2fr 2fr;
	column-gap: 1rem;
	row-gap: 1rem;
}

.control input {
	border-radius: 4px;
	border-color: transparent;
	padding: 0.25rem 0.5rem;
	background: var(--clr-primary-2);
}

.control label {
	font-size: 1.3rem;
	font-weight: bold;
	font-family: var(--ff-secondary);
	color: var(--clr-primary-3);
}

.total-price {
	display: flex;
	justify-content: space-between;
	color: var(--clr-primary-4);
}

.actions {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;
}

.action button {
	width: 120px;
	height: 30px;
	background: var(--clr-primary-3);
	color: var(--clr-white);
	font-size: 0.975rem;
	border-color: transparent;
	border-radius: 8px;
	transition: var(--transition);
}

.action button:hover {
	background: var(--clr-primary-4);
}

.empty-order-msg {
	margin-top: 5rem;
}
