.shopping {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.25rem 0;
    padding-right: 1.2rem;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: var(--box-shadow-dark);
    background: var(--clr-purple-1);
}

@media screen and (min-width: 800px) {
    .shopping {
        flex-direction: row;
        height: 80vh;
    }
}